<!DOCTYPE html>

<html ng-app="DashPlayer" lang="en">

    <head>

		<meta charset="utf-8"/>

		<title>Multi-Processing Streaming Platform Rebuild</title>
		<link rel="icon" type="image/jpg" href="../inraysee.jpg">

		<!-- Import css files -->
		<link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap-theme.css">
		<link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap-glyphicons.css">
		<link rel="stylesheet" href="app/css/main.css">
		<link rel="stylesheet" href="app/contrib/akamai/controlbar/controlbar.css">

		<!-- Import src files -->
		<script src="app/lib/jquery/jquery-3.7.0.js"></script>
		<script src="app/lib/angular/angular.min.js"></script>
		<script src="app/lib/angular/angular-resource.min.js"></script>
		<script src="app/lib/angular/angular-flot.js"></script>
		<script src="app/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="app/lib/flot/jquery.flot.min.js"></script>
		<script src="app/lib/flot/jquery.flot.resize.min.js"></script>
		<script src="app/lib/flot/jquery.flot.axislabels.js"></script>
		<script src="app/contrib/cast_sender.js"></script>
		<script src="app/contrib/akamai/controlbar/ControlBar.js"></script>
		<script src="app/contrib/akamai/controlbar/ControlBarVR.js"></script>
		<script src="app/contrib/dash.js/dist/dash.all.debug.js"></script>
		<script src="app/main.js"></script>
		<!-- <script src="app/bundle.js"></script> -->
		<script src="app/contrib/dash.js/externals/Constants.js"></script>
		<script src="app/contrib/dash.js/externals/DashConstants.js"></script>
		<script src="app/contrib/dash.js/externals/BaseMatcher.js"></script>
		<script src="app/contrib/dash.js/externals/DateTimeMatcher.js"></script>
		<script src="app/contrib/dash.js/externals/DurationMatcher.js"></script>
		<script src="app/contrib/dash.js/externals/NumericMatcher.js"></script>
		<script src="app/contrib/dash.js/externals/StringMatcher.js"></script>
		<script src="app/contrib/webrtc/adapter-latest.js"></script>
		<script src="app/contrib/webrtc/capturer.js"></script>
		<script src="comparor.js"></script>

		<!-- Import ABR rules -->
		<script src="RttThroughputRule.js"></script>
		<script src="RttBufferRule.js"></script>
		<script src="HighestBitrateRule.js"></script>
		<script src="LowestBitrateRule.js"></script>
		<script src="RttThroughputRule.js"></script>
		<script src="GlobalSwitchRule.js"></script>

		<style>
			body {
				background-color: #ececec;
				min-width: 1345px;
				overflow-x: hidden;
			}
		</style>
		
	</head>
	
    <body ng-controller="DashController" style="overflow: scroll;">

		<div class="container">

			<!-- Page title -->
			<div class="row title-header">
				<div class="branding">
					<span>Multi-Processing Streaming Platform Rebuild</span>
				</div>
			</div>

			<!-- Control buttons -->
			<div class="row">
				<div class="input-group">
					<span class="input-group-btn">

						<!-- URL change list -->
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="vertical-align: bottom; width: 210px;">
							Change URL for All Streams <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
							<li class="dropdown-submenu" ng-if="item.submenu" ng-repeat="item in availableStreams" ng-mouseover="onStreamItemHover(item)">
								<a tabindex="-1" href="#">{{item.type}}</a>
								<ul class="dropdown-menu">
									<li ng-repeat="subitem in item.submenu">
										<a ng-click="setStream(subitem)">{{subitem.name}}</a>
									</li>
								</ul>
							</li>
						</ul>
						
						<!-- Option show/hide button -->
						<button class="btn btn-default" ng-click="showoption()" style="width: 120px;" ng-cloak>{{optionButton}}</button>
						
						<!-- Reset button -->
						<button class="btn btn-default" type="button" style="width: 70px;" onclick="location.reload();">Reset</button>
						
						<!-- Load button -->
						<button id="load" class="btn btn-primary" type="button" style="width: 70px;" ng-click="loadStream();">Load</button>
						
						<!-- Reload button -->
						<button id="reload" class="btn btn-primary" type="button" style="width: 70px; display: none;" ng-click="reloadStream();">Reload</button>
						
						<!-- Option panel -->
						<div id="option" class="row" style="display: none;">

							<!-- Streaming mode -->
							<div style="float: left; border: 0px; margin: 0px; background-color: #d8e6ff; width: 20%; min-width: max-content; height: 335px;">
								<div class="options-item-title">Streaming Mode</div>
								<div class="options-item-body">
									<form>
										<label data-toggle="tooltip" data-placement="right">
											<input name="modes" id="multiPathMode" type="radio" autocomplete="off" ng-click="changeSelectedMode('Multi-Path')" checked="true">
											Multi-Path
										</label>
										<label data-toggle="tooltip" data-placement="right">
											<input name="modes" id="chatMode" type="radio" autocomplete="off" ng-click="changeSelectedMode('Chat')">
											Chat
										</label>
											<label data-toggle="tooltip" data-placement="right" id="inputOutput" style="margin-left: 10px;">
												<label for="videoCapture">Video capture source </label>
											</label>
											<label data-toggle="tooltip" data-placement="right" id="inputOutput" style="margin-left: 10px;">
												<select id="videoCapture"></select>
											</label>
											<label data-toggle="tooltip" data-placement="right" id="inputOutput" style="margin-left: 10px;">
												<label for="audioCapture">Audio capture source </label>
											</label>
											<label data-toggle="tooltip" data-placement="right" id="inputOutput" style="margin-left: 10px;">
												<select id="audioCapture"></select>
											</label>
										<label data-toggle="tooltip" data-placement="right">
											<input name="modes" id="comparisonMode" type="radio" autocomplete="off" ng-click="changeSelectedMode('Comparison')">
											Comparison
										</label>
										<label data-toggle="tooltip" data-placement="right">
											<input name="modes" id="vrMode" type="radio" autocomplete="off" ng-click="changeSelectedMode('VR')">
											VR
										</label>
									</form>
								</div>
							</div>

							<!-- Video/audio path settings -->
							<div style="float: left; border: 0px; margin: 0px; background-color: #ececec; width: 20%; min-width: max-content; height: 335px;">
								<div class="options-item-title">Number of Paths</div>
								<div class="options-item-body">
									<label data-toggle="tooltip" data-placement="right">
										Number of videos
										<input style="width: 200px;" step="1" max="20" min="1" type="number" id="videoNumber" ng-model="streamNum.video" ng-change="changeStreamNumber('video')">
									</label>
									<label data-toggle="tooltip" data-placement="right">
										Number of audios
										<input style="width: 200px;" step="1" max="20" min="0" type="number" id="audioNumber" ng-model="streamNum.audio" ng-change="changeStreamNumber('audio')">
									</label>
								</div>
							</div>

							<!-- Initial settings -->
							<div style="float: left; border: 0px; margin: 0px; background-color: #d8e6ff; width: 20%; min-width: max-content; height: 335px;">
								<div class="options-item-title">Initial Settings</div>
								<div class="options-item-body">
									<label data-toggle="tooltip" data-placement="right">
										Target buffer length (s)
										<input style="width: 200px;" step="1" min="0" type="number" id="targetBuffer" ng-model="targetBuffer">
									</label>
									<label data-toggle="tooltip" data-placement="right">
										Maximal buffer length (s)
										<input style="width: 200px;" step="1" min="10" type="number" id="maximalBuffer" ng-model="maximalBuffer">
									</label>
									<label data-toggle="tooltip" data-placement="right">
										Schedule Interval (ms)
										<input style="width: 200px;" step="10" min="0" type="number" id="scheduleInterval" ng-model="INTERVAL_OF_SCHEDULE_FETCHER">
									</label>
								</div>
							</div>

							<!-- ABR strategies -->
							<div style="float: left; border: 0px; margin: 0px; background-color: #ececec; width: 20%; min-width: max-content; height: 335px;">
								<div class="options-item-title">ABR Strategies</div>
								<div class="options-item-body">
									<form>
										<label data-toggle="tooltip" data-placement="right">
											<input name="abr-rules" id="rttThroughputRule" type="radio" autocomplete="off" ng-click="changeABRStrategy('rttThroughputRule')">
											RttThroughputRule
										</label>
										
										<label data-toggle="tooltip" data-placement="right">
											<input name="abr-rules" id="rttBufferRule" type="radio" autocomplete="off" ng-click="changeABRStrategy('rttBufferRule')">
											RttBufferRule
										</label>

										<label data-toggle="tooltip" data-placement="right">
											<input name="abr-rules" id="highestBitrateRule" type="radio" autocomplete="off" ng-click="changeABRStrategy('highestBitrateRule')" checked="true">
											HighestBitrateRule
										</label>

										<label data-toggle="tooltip" data-placement="right">
											<input name="abr-rules" id="lowestBitrateRule" type="radio" autocomplete="off" ng-click="changeABRStrategy('lowestBitrateRule')">
											LowestBitrateRule
										</label>

										<label data-toggle="tooltip" data-placement="right">
											<input name="abr-rules" id="globalSwitchRule" type="radio" autocomplete="off" ng-click="changeABRStrategy('globalSwitchRule')">
											GlobalSwitchRule
										</label>
											<label data-toggle="tooltip" data-placement="right" id="labelPreferredQualitySelecetedVideo" style="margin-left: 10px;">
												<div class="row">
													<span style="line-height: 25px;">Video quality</span>
													<input style="width: 40px;" step="1" min="0" max="100" type="number" id="globalQualityVideo" ng-model="globalQuality.video" disabled>	
												</div>
												<div class="row">
													<span style="line-height: 25px;">Audio quality</span>
													<input style="width: 40px;" step="1" min="0" max="100" type="number" id="globalQualityAudio" ng-model="globalQuality.audio" disabled>	
												</div>
											</label>

										<label data-toggle="tooltip" data-placement="right">
											<input name="life_signal" id="lifeSignal" type="checkbox" autocomplete="off" ng-model="lifeSignalEnabled" checked>
											Life signal enabled
										</label>
									</form>
								</div>
							</div>

							<!-- Catchup settings -->
							<div style="float: left; border: 0px; margin: 0px; background-color: #d8e6ff; width: 20%; min-width: max-content; height: 335px;">
								<div class="options-item-title">Catchup Settings</div>
								<div class="options-item-body">
									<form>
										<label data-toggle="tooltip" data-placement="right">
											Target latency bias (s)
											<input style="width: 200px;" step="0.1" min="-10" type="number" id="targetLatency" ng-model="targetLatency">
										</label>
										<label data-toggle="tooltip" data-placement="right">
											<button id="decreaseLatency" type="button" style="width: 70px;" ng-click="decreaseLatency();">- 0.1 s</button>
											<button id="increaseLatency" type="button" style="width: 70px;" ng-click="increaseLatency();">+ 0.1 s</button>
										</label>
										<label data-toggle="tooltip" data-placement="right">
											Minimal drift (s)
											<input style="width: 200px;" min="0.0" max="0.5" step="0.01" type="number" id="minDrift" ng-model="minDrift">
										</label>
										<label data-toggle="tooltip" data-placement="right" style="display: none;">
											Maximal drift (s)
											<input style="width: 200px;" min="1" max="20" step="1" type="number" id="maxDrift" ng-model="maxDrift" disabled>
										</label>
										<label data-toggle="tooltip" data-placement="right">
											Catchup playback rate
											<input style="width: 200px;" min="0.0" max="1.0" step="0.01" type="number" id="catchupPlaybackRate" ng-model="catchupPlaybackRate">
										</label>
										<label data-toggle="tooltip" data-placement="right" style="display: none;">
											Catchup latency threshold (s)
											<input style="width: 200px;" min="0" type="number" id="catchupThreshold" ng-model="liveCatchupLatencyThreshold" disabled>
										</label>
										<label data-toggle="tooltip" data-placement="right">
											<input name="catch_up" id="catchUp" type="checkbox" autocomplete="off" ng-model="catchupEnabled" checked>
											Catchup enabled
										</label>
										<label data-toggle="tooltip" data-placement="right">
											<input name="low_latency_dash" id="lowLatencyDash" type="checkbox" autocomplete="off" ng-model="llDashEnabled" checked>
											LL-DASH enabled
										</label>
									</form>
								</div>
							</div>

						</div>

					</span>
				</div>
			</div>

			<!-- Player and status -->
			<div class="row" style="display: flex;">

				<!-- Stream source URLs and video container -->
				<div style="width:calc(100% - 420px);">

					<!-- Stream source URLs -->
					<div>

						<!-- Video source URLs -->
						<div id="videoSource">
							<div class="row" ng-repeat="url in streamURLs.video track by $index">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="vertical-align: bottom; width: 210px;">
											Change URL for Video {{$index + 1}} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
											<li class="dropdown-submenu" ng-if="item.submenu" ng-repeat="item in availableStreams" ng-mouseover="onStreamItemHover(item)">
												<a tabindex="-1" href="#">{{item.type}}</a>
												<ul class="dropdown-menu">
													<li ng-repeat="subitem in item.submenu">
														<a ng-click="setStream(subitem, 'video', this.$parent.$parent.$parent.$index)">{{subitem.name}}</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
									<input type="text" class="form-control" ng-model="streamURLs.video[$index]" ng-change ="">
								</div>
							</div>
						</div>

						<!-- Audio source URLs -->
						<div id="audioSource">
							<div class="row" ng-repeat="url in streamURLs.audio track by $index">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="vertical-align: bottom; width: 210px;">
											Change URL for Audio {{$index + 1}} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
											<li class="dropdown-submenu" ng-if="item.submenu" ng-repeat="item in availableStreams" ng-mouseover="onStreamItemHover(item)">
												<a tabindex="-1" href="#">{{item.type}}</a>
												<ul class="dropdown-menu">
													<li ng-repeat="subitem in item.submenu">
														<a ng-click="setStream(subitem, 'audio', $index)">{{subitem.name}}</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
									<input type="text" class="form-control" ng-model="streamURLs.audio[$index]" ng-change ="">
								</div>
							</div>
						</div>

					</div>

					<!-- Video container -->
					<div class="">

						<!-- Both flat and VR -->
						<div id="videoContainer" class="videoContainer" style="background-color:#3a3d42; width:100%; height:565px; float:left;">
							<video id="video" style="display: flex; width:100%; height:530px;"></video>
							<iframe frameborder="0" scrolling="no" id="vr" style="display: none; width:100%; height:530px; margin: 0;"></iframe>
							<div id="videoController" class="video-controller unselectable" style="display: block;">
								<div id="playPauseBtn" class="btn-play-pause" title="Play/Pause">
									<span id="iconPlayPause" class="icon-play"></span>
								</div>
								<span id="videoTime" class="time-display">00:00:00</span>
								<div id="fullscreenBtn" class="btn-fullscreen control-icon-layout" title="Fullscreen">
									<span class="icon-fullscreen-enter"></span>
								</div>
								<input type="range" id="volumebar" class="volumebar" value="1" min="0" max="1" step=".01">
								<div id="muteBtn" class="btn-mute control-icon-layout" title="Mute">
									<span id="iconMute" class="icon-mute-off"></span>
								</div>
								<div id="bitrateListBtn" class="control-icon-layout" title="Bitrate List">
									<span class="icon-bitrate"></span>
								</div>
								<div id="trackSwitchBtn" class="control-icon-layout" title="A/V Tracks">
									<span class="icon-tracks"></span>
								</div>
								<div id="captionBtn" class="btn-caption control-icon-layout" title="Closed Caption">
									<span class="icon-caption"></span>
								</div>
								<span id="videoDuration" class="duration-display">00:00:00</span>
								<div class="seekContainer">
									<div id="seekbar" class="seekbar seekbar-complete">
										<div id="seekbar-buffer" class="seekbar seekbar-buffer"></div>
										<div id="seekbar-play" class="seekbar seekbar-play"></div>
									</div>
								</div>
							</div>
						</div>

						<!-- Camera container -->
						<div id="cameraContainer" class="cameraContainer" style="position: absolute; background-color:#3a3d42; border: 2px solid #3a3d42; margin: 20px; width:240px; height:135px; display: none;">
							<video id="camera" style="width:100%; height:100%;" playsinline autoplay></video>
						</div>

						<!-- Comparison container -->
						<div id="comparisonContainer" class="comparisonContainer" style="position: absolute; background-color:#3a3d42; border: 2px solid #3a3d42; margin: 20px; width:240px; height:135px; display: none;">
							<video id="comparison" style="width:100%; height:100%;" playsinline autoplay></video>
						</div>

					</div>

				</div>

				<!-- Tab panes -->
				<div class="tabs-section" style="width:400px; height:auto; float:left; margin-left:20px;">
					<div class="tab-content" style="height:100%;">
						<div class="panel-body panel-stats" style="height:100%;" ng-cloak>
							
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">UTC Time: </label> {{utcTimeFormatted}}
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Startup Time: </label> {{streamStartTimeFormatted ? streamStartTimeFormatted : startupTimeFormatted || utcTimeFormatted}}
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Run Time: </label> {{(startupTime ? (utcTime - startupTime) / 1000 : 0).toFixed(3)}} s
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Stall Time: </label> {{(stallTime || 0).toFixed(3)}} s
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Baseline: </label> {{(baselineTime || (mode == "VR" ? streamElement.video[0].currentTime : streamElement.currentTime) || 0).toFixed(3)}} s
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Timeline: </label>
								<span ng-if="mode != 'VR'">{{(streamElement.currentTime || 0).toFixed(2)}} s</span>
								<div ng-if="mode == 'VR' && streamElement.video" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top" style="margin-bottom: 0px;">video:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in streamElement.video track by $index">[{{item.currentTime.toFixed(2)}} s]</span>
									</div>
								</div>
								<div ng-if="mode == 'VR' && streamElement.audio" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">audio:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in streamElement.audio track by $index">[{{item.currentTime.toFixed(2)}} s]</span>
									</div>
								</div>
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Latency Bias: </label>
								<span ng-if="mode != 'VR'">{{(baselineTime || streamElement.currentTime || 0) - (streamElement.currentTime || 0) >= 0 ? '+' : ''}}{{((baselineTime || streamElement.currentTime || 0) - (streamElement.currentTime || 0)).toFixed(2)}} s</span>
								<div ng-if="mode == 'VR' && streamElement.video" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">video:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in streamElement.video track by $index">[{{(baselineTime || item.currentTime || 0) - (item.currentTime || 0) >= 0 ? '+' : ''}}{{((baselineTime || item.currentTime || 0) - (item.currentTime || 0)).toFixed(2)}} s]</span>
									</div>
								</div>
								<div ng-if="mode == 'VR' && streamElement.audio" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">audio:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in streamElement.audio track by $index">[{{(baselineTime || item.currentTime || 0) - (item.currentTime || 0) >= 0 ? '+' : ''}}{{((baselineTime || item.currentTime || 0) - (item.currentTime || 0)).toFixed(2)}} s]</span>
									</div>
								</div>
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Buffer Level: </label>
								<span ng-if="mode != 'VR'">{{(monitorBufferLevel.video || 0).toFixed(2)}} s | {{(monitorBufferLevel.audio || 0).toFixed(2)}} s</span>
								<div ng-if="mode == 'VR' && monitorBufferLevel.video" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">video:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in monitorBufferLevel.video track by $index">[{{item.toFixed(2)}} s]</span>
									</div>
								</div>
								<div ng-if="mode == 'VR' && monitorBufferLevel.audio" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">audio:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in monitorBufferLevel.audio track by $index">[{{item.toFixed(2)}} s]</span>
									</div>
								</div>
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Downloading Quality: </label>
								<span ng-if="mode != 'VR'">{{((monitorDownloadingQuality.video || 0) / 1000).toFixed(0)}} kbps | {{((monitorDownloadingQuality.audio || 0) / 1000).toFixed(0)}} kbps</span>
								<div ng-if="mode == 'VR' && monitorDownloadingQuality.video" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">video:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in monitorDownloadingQuality.video track by $index">[{{(item / 1000).toFixed(0)}} kbps]</span>
									</div>
								</div>
								<div ng-if="mode == 'VR' && monitorDownloadingQuality.audio" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">audio:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in monitorDownloadingQuality.audio track by $index">[{{(item / 1000).toFixed(0)}} kbps]</span>
									</div>
								</div>
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Playback Quality: </label>
								<span ng-if="mode != 'VR'">{{((monitorPlaybackQuality.video || 0) / 1000).toFixed(0)}} kbps | {{((monitorPlaybackQuality.audio || 0) / 1000).toFixed(0)}} kbps</span>
								<div ng-if="mode == 'VR' && monitorPlaybackQuality.video" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">video:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in monitorPlaybackQuality.video track by $index">[{{(item / 1000).toFixed(0)}} kbps]</span>
									</div>
								</div>
								<div ng-if="mode == 'VR' && monitorPlaybackQuality.audio" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">audio:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in monitorPlaybackQuality.audio track by $index">[{{(item / 1000).toFixed(0)}} kbps]</span>
									</div>
								</div>
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Playback Rate: </label>
								<span ng-if="mode != 'VR'">{{(streamElement ? streamElement.playbackRate || 1 : 1).toFixed(2)}}</span>
								<div ng-if="mode == 'VR' && streamElement.video" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">video:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in streamElement.video track by $index">[{{item.playbackRate.toFixed(2)}}]</span>
									</div>
								</div>
								<div ng-if="mode == 'VR' && streamElement.audio" style="margin-left: 10px; margin-bottom: 5px; display: flex;">
									<label class="text-primary" data-toggle="tooltip" data-placement="top">audio:</label>
									<div style="display: flex; flex-wrap: wrap;">
										<span ng-repeat="item in streamElement.audio track by $index">[{{item.playbackRate.toFixed(2)}}]</span>
									</div>
								</div>
							</div>
							<div class="text-success" ng-if="mode != 'VR'">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Stream Info (video): </label> {{streamInfo.video.pathIndex}} - {{streamInfo.video.periodIndex}} - {{streamInfo.video.adaptationSetIndex}} - {{streamInfo.video.representationIndex}} - {{streamInfo.video.segmentIndex}}
							</div>
							<div class="text-success" ng-if="mode != 'VR'">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Stream Info (audio): </label> {{streamInfo.audio.pathIndex}} - {{streamInfo.audio.periodIndex}} - {{streamInfo.audio.adaptationSetIndex}} - {{streamInfo.audio.representationIndex}} - {{streamInfo.audio.segmentIndex}}
							</div>
							<!-- <div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Normalized Time : </label> {{normalizedTime.toFixed(2)}} {{normalizedTime ? " s" : ""}}
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Total Throughput : </label> {{totalThroughput ? totalThroughput >= 8000000 ? (totalThroughput / 8000000).toFixed(2) : (totalThroughput / 8000).toFixed(0) : ""}} {{totalThroughput ? totalThroughput >= 8000000 ? " MB/s" : " kB/s" : ""}}
							</div>
							<div class="text-success">
								<label class="text-primary" data-toggle="tooltip" data-placement="top">Total QOE : </label> {{totalQOE.toFixed(2)}}
							</div> -->

						</div>
					</div>
				</div>

			</div>

			<!-- Charting -->
			<div class="chart-panel">

				<!-- Chart controllers and legends -->
				<div class="chart-controls" style="height: 50px;">
					<div class="btn-group">
						<button id="disableChartBtn" class="btn btn-primary" ng-click="clearchartData()" ng-cloak>Clear
						</button>
					</div>
				</div>

				<!-- Charts -->
				<div id="chartWrapper">
					<div class="chart-inventory" style="margin-bottom: 30px;">
					</div>
					<div id="legendWrapper_bufferLevel" class="legend-wrapper">
					</div>
					<span style="display: block; margin-top: 20px; margin-bottom: 10px; margin-left: 20px; font: bold normal 16px sans-serif;" id="bufferLevelTitle">Buffer Level</span>
					<div class="chart-inventory" style="margin-bottom: 30px;">
						<flot dataset="chartData.bufferLevel" options="chartOptions.bufferLevel"></flot>
					</div>
					<div id="legendWrapper_downloadingQuality" class="legend-wrapper">
					</div>
					<span style="display: block; margin-top: 20px; margin-bottom: 10px; margin-left: 20px; font: bold normal 16px sans-serif;" id="downloadingQualityTitle">Downloading Quality</span>
					<div class="chart-inventory" style="margin-bottom: 30px;">
						<flot dataset="chartData.downloadingQuality" options="chartOptions.downloadingQuality"></flot>
					</div>
					<div id="legendWrapper_playbackQuality" class="legend-wrapper">
					</div>
					<span style="display: block; margin-top: 20px; margin-bottom: 10px; margin-left: 20px; font: bold normal 16px sans-serif;" id="playbackQualityTitle">Playback Quality</span>
					<div class="chart-inventory" style="margin-bottom: 30px;">
						<flot dataset="chartData.playbackQuality" options="chartOptions.playbackQuality"></flot>
					</div>
					<div id="legendWrapper_rtt" class="legend-wrapper">
					</div>
					<span style="display: block; margin-top: 20px; margin-bottom: 10px; margin-left: 20px; font: bold normal 16px sans-serif;" id="rttTitle">Path RTT</span>
					<div class="chart-inventory" style="margin-bottom: 30px;">
						<flot dataset="chartData.rtt" options="chartOptions.rtt"></flot>
					</div>
					<div id="legendWrapper_throughput" class="legend-wrapper">
					</div>
					<span style="display: block; margin-top: 20px; margin-bottom: 10px; margin-left: 20px; font: bold normal 16px sans-serif;" id="throughputTitle">Path Throughput</span>
					<div class="chart-inventory" style="margin-bottom: 30px;">
						<flot dataset="chartData.throughput" options="chartOptions.throughput"></flot>
					</div>
				</div>

			</div>

			<!-- List of all requests -->
			<div class="row" style="background-color: #ffffff">
				<div id="requestList" class="table-striped" style="margin: 15px;">
					<table class="table table-striped" style="border: 3px solid #136bfb; padding-left: 5px;padding-right: 5px; text-align: center;">
						<thead>
						<tr>
							<th style="text-align: center;">Type</th>
							<th style="text-align: center;">Content</th>
							<th style="text-align: center;">Path</th>
							<th style="text-align: center;">Period</th>
							<th style="text-align: center;">AdaptationSet</th>
							<th style="text-align: center;">Representation</th>
							<th style="text-align: center;">Segment</th>
							<!-- <th style="text-align: center;">tresponse_trequest</th>
							<th style="text-align: center;">tfinish_tresponse</th>
							<th style="text-align: center;">tfinish_trequest</th>
							<th style="text-align: center;">tsize</th> -->
							<th style="text-align: center;">RTT</th>
							<th style="text-align: center;">Throughput</th>
							<th style="text-align: center;">Throughput Expect</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in requestList">
							<td>{{item.urlType}}</td>
							<td>{{item.contentType}}</td>
							<td>{{item.pathIndex}}</td>
							<td>{{item.periodIndex}}</td>
							<td>{{item.adaptationSetIndex}}</td>
							<td>{{item.representationIndex}}</td>
							<td>{{item.segmentIndex}}</td>
							<!-- <td>{{item.tresponse_trequest}}</td>
							<td>{{item.tfinish_tresponse}}</td>
							<td>{{item.tfinish_trequest}}</td>
							<td>{{item.tsize}}</td> -->
							<td>{{item.rtt}}</td>
							<td>{{item.throughput}}</td>
							<td>{{item.throughputExpect}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</body>
	
</html>